page-accord {
    .accordContent{
        //position: absolute;
        display: flex;
        display: inline;
        //transform: translateX(-50%);
       // left: 50%;
        top: 15%;
       // width: 75%;
       // height: 75%
    }
    .noteButton{
       background-color: grey;
       .orange{
           background-color: darkorange;
       }
         width: 50%;
        height: 50%;
        flex-wrap: wrap;
    }
    .buttonOctave{
// width: 33%;
height: 10%;
width: 30%;
    }
}
