page-accord {
    .accordContent{
        //position: absolute;
        display: flex;
        display: inline-block;
        //transform: translateX(-50%);
        top: 15%;
        width: 100%;
         height: 75%;
        margin: auto 10px;

    }
    .noteButton{
       background-color: #d9d9d9;
       
         width: 45%;
         height: 45%;
         color: black;
       //flex-wrap: wrap;
    }
    .active{
        background-color: #00ccff;
       }
       .stop{
        background-color: #d9d9d9;
       }
    /* .blue{
        background-color: #00ccff;
       } */

    .buttonOctave{
        height: 10%;
        width: 100%;
        .button{
            background-color: #d9d9d9;
            .blue{
                background-color: #00ccff;
                
            }
            color: black;
        }
    }
}
