<!--
  Generated template for the SearchPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>search</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding class="searchContent">
  <div >
    <form #f="ngForm" [formGroup]="trackData" (ngSubmit)="onSubmit()">

      <div class="searchContentInput">
        <ion-icon name="search"></ion-icon>
        <input type="text" formControlName="content" placeholder="tapez le titre de votre chanson...">
      </div>
      <button ion-button block>Recherche</button>
    </form>
  </div>
  <!-- <ion-grid > -->
  <ion-card>
    <ion-list *ngFor="let result of searchList" class="result">
      <button ion-item (click)="goAccord(result)">
        <ion-col>
          <img class="album" src="{{result.picture.url}}" alt="image_album" />
        </ion-col>
        <ion-col >
          <div class="trackInfo">{{result.name}} <br>
            {{result.artist}}

          </div>
        </ion-col>
        <ion-col>
          <div class="keyMode">{{getKeyFromSpotify(result.key)}} {{getModeFromSpotify(result.mode)}}</div>
        </ion-col>
      </button>
    </ion-list>
  </ion-card>
  <!-- <ion-row>
      <ion-col col-4>
          <img src="{{result.picture.url}}" alt="image_album" width="100%" height="90%" />      </ion-col>
      <ion-col col-4>
       <p class="searchName"> {{result.name}}
         <br>
         {{result.artist}}
       </p>
      </ion-col>
      <ion-col col-4>
          <button ion-button class="noteButton"> {{getKeyFromSpotify(result.key)}} <br>{{getModeFromSpotify(result.mode)}} </button>      </ion-col>
    </ion-row>
  </ion-grid> -->


  <!-- 
  <ion-card *ngFor="let result of searchList">
    <img src="{{result.picture.url}}" alt="image_album" />
    <ion-card-content>
      <ion-card-title>
        {{result.name}}
      </ion-card-title>
      <p>
        {{result.artist}}


      </p>
      <button ion-button> {{getKeyFromSpotify(result.key)}} -{{result.mode}} </button>
    </ion-card-content>
  </ion-card> -->
</ion-content>