page-search {
    .ion-card {
        display: flex;
    }
    .searchContent {
        // position: absolute; // display: inline-block;
        //transform: translateX(-50%);
        //left: 50%;
        //top: 15%;
        /* width: 100%;
        height: 100%; */
        //  background: #dee0e2;
        padding: 50px;
        box-shadow: 0px 5px 22px -3px rgba(0, 0, 0, 0.3);
        position: fixed; // top: 70px;
        width: 100%;
        z-index: 1;
       
    }
    .searchContentInput {
        // max-width: 100%;
        //   display: block;
        display: inline-block;
        vertical-align: middle;
        background: none;
        padding-left: 0;
        width: 100%;
        position: relative;
        border: 1px solid grey; 
        border-radius: 5px;
        ion-icon {
            font-size: 2em;
            color: grey;
            margin: 5px 5px;
        }
        input {
            width: 80%;
            margin-left: 5px;
            margin: 0;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
        /*  input {
            margin: 15px auto;
            width: 100%;
            height: 35px;
            font-size: 1.3em; // border-radius: 2px;
        } */
    }
    .result {
        display: flex;
        flex-direction: row;
        resize: horizontal;
    }
    .album {}
    .trackInfo {
        text-align: center;
        display: inline;
    }
    .keyMode {
        text-align: center;
        display: inline;
    }
}

.searchName {
    font-size: 1em;
    font-family: Verdana;
}

.noteButton {
    width: 100px !important;
    height: 100px;
}

.button {
    display: block;
    width: 150px;
    margin: 15px auto;
}