<!--
  Generated template for the SearchPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
  </ion-navbar>
</ion-header>


<ion-content padding class="searchContent">
    
  <form  #f="ngForm" [formGroup]="trackData" (ngSubmit)="onSubmit()">
    <div class="searchContentInput">
      <ion-icon name="search"></ion-icon>
      <input type="text" formControlName="content" placeholder="tapez le titre de votre chanson...">
    </div>
    <button ion-button block>Recherche</button>
  </form>
  <!-- <ion-grid > -->
  <ion-card>
    <ion-list *ngFor="let result of searchList" class="result">
      <ion-card-content (click)="goAccord(result)">
        <ion-row no-padding>
          <ion-col col-4>
            <img class="album" src="{{result.picture.url}}" alt="image_album" />
          </ion-col>
          <ion-col col-8>
            <div class="trackInfo">{{result.name}}
              <br> {{result.artist}}
            </div>
            <br>
            <div class="keyMode">{{getKeyFromSpotify(result.key)}} {{getModeFromSpotify(result.mode)}}</div>
          </ion-col>
        </ion-row>
      </ion-card-content>
    </ion-list>
  </ion-card>
  
  <div class="noResult" *ngIf="noResult">Nous n'avons pas de résulat pour "{{userSearch}}"</div>

 
</ion-content>