<ion-header>
  <ion-navbar>
     <!--  <img class="logo_home" src="../../assets/imgs/logo_home.png" alt="logo_home"> -->
    <ion-buttons start>
      <button ion-button menuToggle="left">
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>
<!--     <div class="navbar-home" (click)="goHome()"> <ion-icon name="home"></ion-icon></div>
 -->
    <!-- <ion-title>
      FASILA'rmonie
    </ion-title> -->
  </ion-navbar>
</ion-header>


<ion-content padding class="content">
  <div class="harmonyContent">
      <img class="logo_home" src="assets/imgs/logo_home.png" alt="logo_home">
    <form #f="ngForm" [formGroup]="tonaliteData" (ngSubmit)="onSubmit()">
      <ion-list>
        <div class="searchInput">
          <ion-item>
            <ion-label>
              {{'page.harmony.notes' | translate}}
            </ion-label>
            <ion-select formControlName="frequence">
              <ion-option *ngFor="let note of octave" value="{{note.frequence}}">{{ 'page.harmony.scaleNote.' + note.index | translate}}</ion-option>
            </ion-select>
            <!-- </ion-item>
       <ion-item *ngFor="let note of octave"  (click)="choixNote(note)"> {{note.index}} {{note.frequence}}   -->
          </ion-item>
          <ion-item>
            <ion-label>  {{'page.harmony.gamme' | translate}}</ion-label>
            <ion-select formControlName="gammeSelected">
              <ion-option value="1"> {{'page.harmony.scaleGamme.majeur' | translate}}</ion-option>
              <ion-option value="0"> {{'page.harmony.scaleGamme.mineur' | translate}}</ion-option>
            </ion-select>
          </ion-item>
          <button ion-button [disabled]="!tonaliteData.valid">{{'page.harmony.boutonHarmonie' | translate}}</button>
        </div>
      </ion-list>
    </form>
  </div>
  <!--
  <ion-list *ngIf="noteSelected">
    Affichage des notes
    <ion-item *ngFor="let note of accord" (click)="play(note)">

    </ion-item>
  </ion-list> -->

</ion-content>
